@charset "UTF-8";


@media screen and (min-width:742px)
    {
    main
        {
        margin: 0px 40px 0px 40px;    
        }
    article
        {
        text-align:start
        }
    footer
        {
        height: 30px;
        }
    }
@media screen and (min-width:992px)
    {
    main
        {
        margin: 0px 80px 0px 80px;    
        }
    }