
h1
    {
    text-align: center;
    }
article ul
    {
    padding: 10px;
    list-style-type:circle;
    list-style-position: inside;
    columns: 8;
    }
li
    {
    padding: 0 0 80px 0;
    margin: 2px;
    }
#link-esporte
    {
    min-width:29%;
    text-align: center;
    margin: 1%;
    padding: 5px;
    font-size: 2em;
    color: var(--cor2);
    border-radius: 15px;
    border: solid;
    display: inline-table;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.514);
    }
#link-esporte:hover
    {
    left: 10px;
    top:10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.514);
    transform: translate(-3px, -3px);
    transition: 0.3s ease;
    }

