h1
    {
    text-align: center;
    }
article ul
    {
    padding: 10px;
    list-style-type:circle;
    list-style-position: inside;
    columns: 8;
    }
li
    {
    padding: 0 0 5px 0;
    margin: 2px;
    }